@use "src/styles/variables" as *

:host
  display: block
  
.header
  color: $primary-color
  display: flex
  align-items: center
  justify-content: space-between
  font-size: .8em
  cursor: pointer
  >.left, >.right
    display: flex
    align-items: center
  
.body
  margin-top: $margin-2