@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../../public/fonts/Roboto-300-cyrillic-ext.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../../public/fonts/Roboto-300-cyrillic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../../public/fonts/Roboto-300-greek-ext.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../../public/fonts/Roboto-300-greek.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../../public/fonts/Roboto-300-vietnamese.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../../public/fonts/Roboto-300-latin-ext.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  font-display: swap
  src: url(../../public/fonts/Roboto-300-latin.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../../public/fonts/Roboto-400-cyrillic-ext.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../../public/fonts/Roboto-400-cyrillic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../../public/fonts/Roboto-400-greek-ext.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../../public/fonts/Roboto-400-greek.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../../public/fonts/Roboto-400-vietnamese.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../../public/fonts/Roboto-400-latin-ext.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(../../public/fonts/Roboto-400-latin.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../../public/fonts/Roboto-500-cyrillic-ext.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../../public/fonts/Roboto-500-cyrillic.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../../public/fonts/Roboto-500-greek-ext.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../../public/fonts/Roboto-500-greek.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../../public/fonts/Roboto-500-vietnamese.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../../public/fonts/Roboto-500-latin-ext.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  font-display: swap
  src: url(../../public/fonts/Roboto-500-latin.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face 
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url(../../public/fonts/material-icons.woff2) format('woff2')


.material-icons 
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr