$breakpoint: 768px
$black: #212121
$white: #ffffff

$margin-1: 3px
$margin-2: 5px
$margin-3: 7px
$margin-4: 10px
$margin-5: 14px
$margin-6: 17px
$margin-7: 20px

$navbar-height: 50px

$primary-color: rgb(209, 203, 43)

$transparent: rgba(0, 0, 0, 0)

$primary-color-0: #000000
$primary-color-10: #001d33
$primary-color-20: #14324c
$primary-color-25: #213e57
$primary-color-30: #2d4963
$primary-color-35: #395570
$primary-color-40: #45617c
$primary-color-50: #5e7a96
$primary-color-60: #7893b1
$primary-color-70: desaturate(#92aecd, 10)
$primary-color-80: desaturate(#adc9e9, 20)
$primary-color-90: desaturate(#cfe5ff, 30)
$primary-color-95: desaturate(#e8f1ff, 50)
$primary-color-98: #f7f9ff
$primary-color-99: #fcfcff
$primary-color-100: #ffffff

$accent-color-0:#000000
$accent-color-10:#2d1600
$accent-color-20:#4a2800
$accent-color-25:#5a3100
$accent-color-30:#6a3b00
$accent-color-35:#7b4500
$accent-color-40:#8c5000
$accent-color-50:#af6500
$accent-color-60:#d27c0d
$accent-color-70:#f2962d
$accent-color-80:#ffb873
$accent-color-90:#ffdcbf
$accent-color-95:#ffeee1
$accent-color-98:#fff8f5
$accent-color-99:#fffbff
$accent-color-100:#ffffff

$border-radius: 5px
$bg-color: $black
$border-color: var(--mdc-filled-button-container-color, var(--mat-sys-primary))
$shadow-col: rgba(0,0,0,.2)
$box-shadow: 0px 2px 2px $shadow-col
$hover-color: lighten($bg-color, 10%)

@import "./defs"