[*.cs]

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity  = none
# ignore non exhaustiveness in switch enum expression where unnamed enums are not accounted for
dotnet_diagnostic.CS8524.severity  = none
dotnet_diagnostic.CS8509.severity  = error
dotnet_diagnostic.IDE0044.severity = none #make readonly
dotnet_diagnostic.CA2254.severity  = none #structured logging
dotnet_diagnostic.CA1860.severity  = none #do not use .Any() for .Length == 0
dotnet_diagnostic.IDE1006.severity = none #the prefix _ is not expected
dotnet_diagnostic.IDE0270.severity = none #null check can be simplified
dotnet_diagnostic.CA1816.severity  = none #call GC.SuppressFinalize in DisposeAsync
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.CS8795.severity  = none #partial function stuff
