@use "src/styles/variables" as *

.qr-container
  background-color: white
  border-radius: $border-radius
  margin-bottom: $margin-4

.qr-canvas
  width: 100%
  image-rendering: pixelated
  
